{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Follow a channel with new credentials</h2>
    <p>If you are <b>Getting started</b>, there are a few required steps to follow:</p>
    <ol>
        <li>Go to the <a href="https://console.developers.google.com/">Google Cloud Console</a></li>
        <li>Click on: <b>Select a project</b></li>
        <li>Click on: <b>Create a new project</b></li>
        <li>Name it: <b>Youtube Playlists</b> and click on <b>CREATE</b></li>
        <li>On the left Navigation bar, click on <b>Credentials</b></li>
        <li>Click on: <b>CREATE CREDENTIALS</b></li>
        <li>Select: <b>API Key</b>. The creation of this credential should be instantaneous and be displayed in the list
            of credentials below.</li>
        <li>When this is done, click again on: <b>CREATE CREDENTIALS</b> and this time choose: <b>OAuth client ID</b>
        </li>
        <li>In the OAuth consent screen page: choose the <b>External</b> option and click on <b>CREATE</b></li>
        <li>The OAuth consent screen page will continue, just name the application: <b>Youtube Playlists</b> and click
            on <b>Save</b></li>
        <li>You will need to click on: <b>CREATE CREDENTIALS</b> -> <b>OAuth client ID</b> another time</li>
        <li>This time you will be redirected to the: <b>Create OAuth client ID page</b>. Choose <b>Desktop app</b> as
            the <b>Application type</b> and you should be done with the creation of credentials</li>
    </ol>
</div>
{% endblock %}