{% extends 'base.html' %}
{% block content %}

<style>
    label {
        cursor: pointer;
        /* Style as you please, it will become the visible UI component. */
    }

    #credentialsFile {
        opacity: 0;
        position: absolute;
    }

    #uploadButton {
        display: block;
        width: 35%;
        padding: 14px 28px;
        cursor: pointer;
        text-align: center;

    }
</style>
<div class="container">
    <h2>Follow a channel with new credentials</h2>
    <div class="container stepsGettingStarted">
        <h3>Getting Started</h3>
        <br>
        <p>If you are <b>Getting started</b>, there are a few required steps to follow, if not skip this part.</p>
        <ol>
            <li>Go to the <a href="https://console.developers.google.com/">Google Cloud Console</a></li>
            <li>Click on: <b>Select a project</b></li>
            <li>Click on: <b>Create a new project</b></li>
            <li>Name it: <b>Youtube Playlists</b> and click on <b>CREATE</b></li>
            <li>On the left Navigation bar, click on <b>Credentials</b></li>
            <li>Click on: <b>CREATE CREDENTIALS</b></li>
            <li>Select: <b>API Key</b>. The creation of this credential should be instantaneous and be displayed in the
                list
                of credentials below.</li>
            <li>When this is done, click again on: <b>CREATE CREDENTIALS</b> and this time choose: <b>OAuth client
                    ID</b>
            </li>
            <li>In the OAuth consent screen page: choose the <b>External</b> option and click on <b>CREATE</b></li>
            <li>The OAuth consent screen page will continue, just name the application: <b>Youtube Playlists</b> and
                click
                on <b>Save</b></li>
            <li>You will need to click on: <b>CREATE CREDENTIALS</b> -> <b>OAuth client ID</b> another time</li>
            <li>This time you will be redirected to the: <b>Create OAuth client ID page</b>. Choose <b>Desktop app</b>
                as the <b>Application type</b> and you should be done with the creation of credentials</li>
            <li>Download the file of <b>OAuth 2.0 Clients IDs</b> which should be name Desktop client 1</li>
        </ol>
    </div>
    <div class="container uploadCredentials">
        <h3>Upload credentials</h3>
        <br>
        <p>You have the credentials you need to follow a channel in the <em>Youtube Playlists follow-up</em>
            application:</p>
        <ul>
            <li>An <b>API Key</b></li>
            <li>An <b>OAuth 2.0 Client ID</b></li>
        </ul>

        <p>Now follow these steps:</p>
        <ol>
            <li>Download the <b>OAuth client ID</b> to your files, in the folder <b>Downloads</b></li>
            <li>
                <p>Upload it to the application by clicking on this button:</p>
                <div id="uploadButton" class="boarded btn btn-block btn-outline-dark mb-3">
                    <label id="credentialsLabel" for="credentialsFile">
                        <i class="fa fa-upload mr-2"></i>
                        <b id="textLabel">Upload OAuth client ID</b>

                    </label>
                    <input type="file" name="credentialsFile" id="credentialsFile">

                </div>
            </li>
            <li>
                <p>Finally you simply need to click on this button to follow a new channel</p>
                <button id="newChannel" class="btn btn-block btn-outline-success">Follow a new channel</button>
            </li>
        </ol>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    labelCredentials = document.getElementById("textLabel");
    console.log(labelCredentials);
    inputCredentialsFile = document.getElementById("credentialsFile");
    inputCredentialsFile.onchange = function (e) {
        if (labelCredentials.textContent === "Upload OAuth client ID") {
            labelCredentials.textContent = "File uploaded"
        }
    }
</script>
{% endblock %}