{% extends 'base.html' %}
{% block content %}



<div class="container">
    <h2>Follow a channel with credentials an old channel</h2>
    {% if not dict_channels %}
    <br>
    <em>You have no followed channels for now, you need to <a href="/channels/new/new_credentials">create a channel</a>
    </em>
    {% else %}
    <p>Choose the credentials of one of the channels that you are already following:</p>
</div>
<div class="container">
    {{ dict_channels}}
    <form action="/channels/create" method="POST">
        <div class="form-check row">
            {% for channel_id, channel_info in dict_channels.items() %}
            <div class="col-md-3">
                <input class="form-check-input" type="radio" name="channelChoice" id="{{channel_id}}"
                    value="{{channel_id}}">
                </input>
                <label class="form-check-label" for="{{channel_id}}">
                    Channel <b>{{channel_info['title']}}</b>
                </label>
            </div>
            {% endfor %}
            <button id="newChannel" class="btn btn-block btn-outline-success">Follow a new channel</button>
        </div>
    </form>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script>
    // Get the first element checked by default
    document.querySelectorAll('[type="radio"]')[0].checked = true
</script>
{% endblock %}