{% extends 'base.html' %}
{% block content %}

<style>
    input[type="file"] {
        display: none;
    }

    .strategyChoice {
        height: 100px;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        width: 50%;
        height: 100px;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        font-style: italic;
    }
</style>

<div class="container">
    <h1>Follow a new channel</h1>
    <!-- First question -->
    <div class="container">
        <h4 class="mt-5 mb-5 text-center">To create a new channel, you have two options:</h4>
        <div class="row">
            <div class="col-md-6">
                <a class="strategyChoice btn btn-block btn-outline-dark p-4" href="/channels/new/new_credentials">
                    Use new credentials
                    <br>
                    <i class="font-weight-bold">(Get started)</i>
                </a>
            </div>
            <div class="col-md-6">
                <a class="strategyChoice btn btn-block btn-outline-dark p-4"
                    href="/channels/new/old_channel_credentials">
                    Use old channel credentials
                    <br>
                    <i class="font-weight-bold">(Easier from the second time)</i>
                </a>
            </div>
        </div>

    </div>

    {% endblock %}