<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .itemsNames {
            display: none;
        }

        .playlistName:hover {
            color: blue;
            cursor: pointer;
        }
    </style>
    <title>Youtube Playlists follow-up</title>
</head>

<body>
    <nav>
        <li><a href="/">Home</a></li>
        <li><input type="text" placeholder="Search.."></li>
        <li><a href="/logs">Logs</a></li>
    </nav>

</body>
{% block content %}
{% endblock %}

</html>