{% extends 'base.html' %}
{% block content %}
<style>
    #introduction {
        margin: 50px auto;
    }

    #introduction {
        white-space: nowrap;

    }

    #appTitle {
        width: 50%;
        margin: 20px auto;
        font-size: 50px;
    }

    #appDescription {
        width: 70%;
        margin: 20px auto;
        font-size: 20px;
        margin-top: 5px;
    }

    #updateButton {
        display: block;
        width: 20%;
        margin: 0 auto;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        margin-top: 10px;

    }

    #playlists {
        margin-top: 20px;
        list-style: none;
    }

    .boarded {
        border: solid 1px black;
        border-radius: 12px;
        padding: 10px;

    }

    .playlist {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .playlistName {
        font-size: 1.1em;
    }

    .playlistName:hover {
        color: #ff9999;
        cursor: pointer;
    }

    .items {
        list-style: none;
    }
</style>

<div id="introduction" class="container">
    <h1 id="appTitle">
        <i class="fa fa-youtube"></i>
        Playlists Follow-up</h1>
    <p id="appDescription">This application helps you keep track of the evolution of the elements of your playlists.</p>
    <!-- <button id="displayData" class="hidden">See your data</button> -->
    <form action="#" method="POST">
        <button id="updateButton" class="btn btn-outline-dark">Update the logs</button>
    </form>
</div>


<hr>

<h3>Last update: <em class=logTime>{{ latest_data.update_time}}</em></h3>

<!-- Latest update data -->
<div class=>
    <ul id="playlists">
        {% for playlist in channel %}
        <li class="playlist boarded">
            <p class="playlistName">
                <i class="fa fa-list"></i>
                {{ playlist.title }}
            </p>
            <ul class="items" style="display: none;">
                {% for _, item in playlist.items.iterrows() %}
                <li class="itemName">
                    <i class="fa fa-youtube"></i> {{ item['title'] }}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>


<!-- <script src="{{url_for('static', filename='js/index.js')}}"></script> -->
<script>

    // Hide/display items on click of playlist
    let playlistsNames = playlists.getElementsByClassName('playlistName');
    let items = playlists.getElementsByClassName('items');

    for (let i = 0; i < playlistsNames.length; i++) {
        playlistsNames[i].addEventListener('click', function () {
            if (items[i].style.display === 'none') {
                items[i].style.display = 'block';
            } else {
                items[i].style.display = 'none'
            }
        })
    };



    // Click on update
    let updateButton = document.getElementById('updateButton');

    updateButton.addEventListener('click', function () {
        if (this.textContent === 'Update ') {
            this.textContent = 'Loading  ';
            let loadingButton = document.createElement('i');
            loadingButton.classList = ['fa fa-spinner fa-spin'];
            this.appendChild(loadingButton);

            playlists.style.display = 'none';
        }
    })
</script>

{% endblock %}