{% extends 'base.html' %}
{% block content %}
<style>
    #introduction {
        margin: 50px auto;
        text-align: center;
    }


    #appTitle {
        width: 50%;
        margin: 20px auto;
        font-size: 50px;
    }

    #appDescription {
        width: 70%;
        margin: 20px auto;
        font-size: 20px;
        margin-top: 5px;
    }

    #updateButton {
        display: block;
        width: 20%;
        margin: 0 auto;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        margin-top: 10px;

    }

    .listPlaylists {
        margin-top: 20px;
        list-style: none;
    }




    .playlist {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .playlistName {
        font-size: 1.1em;
    }


    .listItems {
        list-style: none;
    }

    #listChannels {
        margin-top: 20px;
        list-style: none;
    }


    .channelName {
        font-size: 1.3em
    }
</style>

<div id="introduction" class="container">
    <h1 id="appTitle">
        <i class="fa fa-youtube"></i>
        Playlists Follow-up</h1>
    <p id="appDescription">This application helps you keep track of the evolution of the elements of your playlists.</p>
    <!-- <button id="displayData" class="hidden">See your data</button> -->
    <form action="#" method="POST">
        <button id="updateButton" class="btn btn-block btn-outline-dark">Update the logs</button>
    </form>
</div>


<hr>

<h3>Last update: <em class=logTime>{{ latest_data.update_time}}</em></h3>



<!-- Latest update data -->

<div class="container">
    <ul id=listChannels>
        {% for channel in latest_data.channels %}
        <li class="channel boarded">
            <p class="channelName clickable">
                <i class="fa fa-tv"></i>
                <b>Channel</b> <em>{{ channel.title }}</em>
            </p>
            <ul class="listPlaylists" hidden>
                {% for playlist in channel %}
                <li class="playlist boarded">
                    <p class="playlistName clickable">
                        <i class="fa fa-list"></i>
                        {{ playlist.title }}
                    </p>
                    <ul class="listItems" hidden>
                        {% for _, item in playlist.items.iterrows() %}
                        <li class="item">
                            <i class="fa fa-youtube"></i> {{ item['title'] }}
                            <p class="detailsDisplay clickable">See details</p>
                            <ul class="itemDetails" hidden>
                                <li><em class="detail">Publication time:</em> {{ item['publishedAt']}}</li>
                                <li> <em class="detail">Description:</em> {{ item['description']}}</li>
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block script %}

<!-- <script src="{{url_for('static', filename='js/index.js')}}"></script> -->
<script>

    function clickDisplay(clickOn, elementToDisplay) {
        clickOn.addEventListener('click', function () {
            if (elementToDisplay.hidden) {
                elementToDisplay.hidden = false;
                this.style.color = '#ff9999';
            } else {
                elementToDisplay.hidden = true;
                this.style.color = 'black';
            }
        });

    }

    let listChannels = document.getElementById('listChannels');

    // Hide/Display the playlists
    let channelsNames = listChannels.getElementsByClassName('channelName');
    let listPlaylists = listChannels.getElementsByClassName('listPlaylists');
    for (let iChannel = 0; iChannel < channelsNames.length; iChannel++) {
        clickDisplay(channelsNames[iChannel], listPlaylists[iChannel])

        // Hide/Display the items
        let playlistsNames = listPlaylists[iChannel].getElementsByClassName('playlistName');
        let listItems = listPlaylists[iChannel].getElementsByClassName('listItems');
        for (let iPlaylist = 0; iPlaylist < playlistsNames.length; iPlaylist++) {
            clickDisplay(playlistsNames[iPlaylist], listItems[iPlaylist])

            // Hide/Display the items details
            let displayDetailsButtons = listItems[iPlaylist].getElementsByClassName('detailsDisplay');
            let listItemsDetails = listItems[iPlaylist].getElementsByClassName('itemDetails')
            for (let iItem = 0; iItem < displayDetailsButtons.length; iItem++) {
                clickDisplay(displayDetailsButtons[iItem], listItemsDetails[iItem])
            }
        }
    }


    // Click on update
    let updateButton = document.getElementById('updateButton');

    updateButton.addEventListener('click', function () {
        if (this.textContent === 'Update the logs') {
            this.textContent = 'Loading  ';
            let loadingButton = document.createElement('i');
            loadingButton.classList = ['fa fa-spinner fa-spin'];
            this.appendChild(loadingButton);
            if (listPlaylists !== null) {
                listPlaylists.style.display = 'none';
            }
        }
    })
</script>
{% endblock %}