{% extends 'base.html' %}
{% block content %}
<h1>Logs update times</h1>
<ul>
    {% for log_by_update in logs_by_update %}

    <li>
        <h3>{{log_by_update['log_time']}}</h3>
    </li>


    <p>Previous update: {{log_by_update['previous_update_time']}}</p>

    {% if not log_by_update['logs'] %}
    <i>No logs for this update</i>
    {% endif %}


    <ul>
        {% for log in log_by_update['logs'] %}
        <li>{{log['message']}}</li>
        {% endfor %}
    </ul>


    {% endfor %}
</ul>
{% endblock %}